.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Question details
      .card-body
        %dl.row.mb-0
        %dt.col-md-3 Name:
        %dd.col-md-9= @question.content
      .card-footer.d-flex
        - if current_user && current_user == 'admin'
          = link_to 'Edit', edit_question_path(@question), class: 'btn btn-link'
        = link_to 'Back', questions_path, class: 'btn btn-link ms-auto'